rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper function to check if the request is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Helper function to check if the user is an administrator
    function isAdmin() {
      return isAuthenticated() && (
        request.auth.token.email == 'hernan.laurel@gmail.com'
      );
    }

    match /{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
  }
}
